
@media print and (width: 21cm) and (height: 29cm)
  body
    margin 3cm
    padding 0

min_width = 21cm
max_width = '29cm'
min_width < @x < max_width
  body
    margin 3cm
    padding 0

300 < @x
	body
		margin 5cm

@x < max_width
	body
		margin 5cm

@y < 300 and x < 500px
	body
		margin 5cm

@media print
  @page :left
    margin-left 5px
  @page :right
    margin-right 5px

