@media print and (width: 21cm) and (height: 29cm) {
  body {
    margin: 3cm;
    padding: 0;
  }
}
@media screen and (min-width: 21cm) and (max-width: 29cm) {
  body {
    margin: 3cm;
    padding: 0;
  }
}
@media screen and (min-width: 300px) {
  body {
    margin: 5cm;
  }
}
@media screen and (max-width: 29cm) {
  body {
    margin: 5cm;
  }
}
@media screen and (max-height: 300px) and (max-width: 500px) {
  body {
    margin: 5cm;
  }
}
@media print {
  @page :left {
    margin-left: 5px;
  }
  @page :right {
    margin-right: 5px;
  }
}
